<!-- BEGIN interested  -->
				<div class="section">
					<div class="section__head"><h2 class="section__title">@@head</h2></div>

					<!-- Slider interesting-wrap -->
					<div class="interesting-wrap">
						<div class="swiper-container">
							<div class="swiper-wrapper row">
								<div class="col-xl-4 col-sm-6 swiper-slide">
									<div class="interesting-inner">
										<h6 class="interesting-inner__title"><a href="#">Кафе, рестораны, бары</a></h6>
										<div class="interesting-inner__body">
											<div class="interesting-inner__img"><a href="#"><img src="img/int-img-21.jpg" alt=""></a></div>
											<div class="interesting-inner__content">
												<ul class="interesting-inner__list">
													<li><a href="#">Кафе «У Ашота»</a></li>
													<li><a href="#">Ресторан «Море и рыба»</a></li>
													<li><a href="#">Бар «Тысяча и одна ночь»</a></li>
												</ul>
												<div class="sec-link">
													<a href="#" class="under-link"><span>Перейти в раздел</span></a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-sm-6 swiper-slide">
									<div class="interesting-inner">
										<h6 class="interesting-inner__title"><a href="#">Достопримечательности</a></h6>
										<div class="interesting-inner__body">
											<div class="interesting-inner__img"><a href="#"><img src="img/int-img-22.jpg" alt=""></a></div>
											<div class="interesting-inner__content">
												<ul class="interesting-inner__list">
													<li><a href="#">Археологический парк Пафоса</a></li>
													<li><a href="#">Древний театр Одеон</a></li>
													
												</ul>
												<div class="sec-link">
													<a href="#" class="under-link"><span>Перейти в раздел</span></a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-sm-6 swiper-slide">
									<div class="interesting-inner">
										<h6 class="interesting-inner__title"><a href="#">Искусство и культура</a></h6>
										<div class="interesting-inner__body">
											<div class="interesting-inner__img"><a href="#"><img src="img/int-img-23.jpg" alt=""></a></div>
											<div class="interesting-inner__content">
												<ul class="interesting-inner__list">
													<li><a href="#">Театр Пафоса</a></li>
													<li><a href="#">Музей Пафоса</a></li>
													<li><a href="#">Музей номер два</a></li>
												</ul>
												<div class="sec-link">
													<a href="#" class="under-link"><span>Перейти в раздел</span></a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-sm-6 swiper-slide">
									<div class="interesting-inner">
										<h6 class="interesting-inner__title"><a href="#">Развлечения</a></h6>
										<div class="interesting-inner__body">
											<div class="interesting-inner__img"><a href="#"><img src="img/int-img-24.jpg" alt=""></a></div>
											<div class="interesting-inner__content">
												<ul class="interesting-inner__list">
													<li><a href="#">Кафе «У Ашота»</a></li>
													<li><a href="#">Ресторан «Море и рыба»</a></li>
													<li><a href="#">Бар «Тысяча и одна ночь»</a></li>
												</ul>
												<div class="sec-link">
													<a href="#" class="under-link"><span>Перейти в раздел</span></a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-sm-6 swiper-slide">
									<div class="interesting-inner">
										<h6 class="interesting-inner__title"><a href="#">Десткие площадки</a></h6>
										<div class="interesting-inner__body">
											<div class="interesting-inner__img"><a href="#"><img src="img/int-img-25.jpg" alt=""></a></div>
											<div class="interesting-inner__content">
												<ul class="interesting-inner__list">
													<li><a href="#">Кафе «У Ашота»</a></li>
													<li><a href="#">Ресторан «Море и рыба»</a></li>
													<li><a href="#">Бар «Тысяча и одна ночь»</a></li>
												</ul>
												<div class="sec-link">
													<a href="#" class="under-link"><span>Перейти в раздел</span></a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-sm-6 swiper-slide">
									<div class="interesting-inner">
										<h6 class="interesting-inner__title"><a href="#">Пляжи</a></h6>
										<div class="interesting-inner__body">
											<div class="interesting-inner__img"><a href="#"><img src="img/int-img-26.jpg" alt=""></a></div>
											<div class="interesting-inner__content">
												<ul class="interesting-inner__list">
													<li><a href="#">Театр Пафоса</a></li>
													<li><a href="#">Музей Пафоса</a></li>
													<li><a href="#">Музей номер два</a></li>
												</ul>
												<div class="sec-link">
													<a href="#" class="under-link"><span>Перейти в раздел</span></a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-sm-6 swiper-slide">
									<div class="interesting-inner">
										<h6 class="interesting-inner__title"><a href="#">Локации для прогулок</a></h6>
										<div class="interesting-inner__body">
											<div class="interesting-inner__img"><a href="#"><img src="img/int-img-27.jpg" alt=""></a></div>
											<div class="interesting-inner__content">
												<ul class="interesting-inner__list">
													<li><a href="#">Кафе «У Ашота»</a></li>
													<li><a href="#">Ресторан «Море и рыба»</a></li>
													<li><a href="#">Бар «Тысяча и одна ночь»</a></li>
												</ul>
												<div class="sec-link">
													<a href="#" class="under-link"><span>Перейти в раздел</span></a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-sm-6 swiper-slide">
									<div class="interesting-inner">
										<h6 class="interesting-inner__title"><a href="#">Экскурсии</a></h6>
										<div class="interesting-inner__body">
											<div class="interesting-inner__img"><a href="#"><img src="img/int-img-28.jpg" alt=""></a></div>
											<div class="interesting-inner__content">
												<ul class="interesting-inner__list">
													<li><a href="#">Акамас — Приключенческая экспедиция</a></li>
													<li><a href="#">Кипрская ночь</a></li>
													
												</ul>
												<div class="sec-link">
													<a href="#" class="under-link"><span>Перейти в раздел</span></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="interesting-wrap__controls swiper-controls ">
								<div class=" swiper-button-prev"></div>
								<div class=" swiper-pagination"></div>
								<div class=" swiper-button-next"></div>
							</div>
						</div>
					</div>
				</div>
				<!-- interested  EOF   -->