<section class="section">
	<div class="section__head">
		<h2 class="section__title">Популярные специалисты</h2>
	</div>

	<!-- Slider news-swiper -->
	<div class="news-swiper _news-swiper">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="master-inner">
						<div class="master-inner__img">
							<a href="#"><img src="img/master-img-1.jpg" alt=""></a>
							<button class="master-inner__favorite favorite">
								<svg class="icon icon-heart-alt">
									<use xlink:href="img/sprite.svg#heart-alt"></use>
								</svg>
								<svg class="icon icon-heart">
									<use xlink:href="img/sprite.svg#heart"></use>
								</svg>
							</button>
						</div>
						<h6 class="master-inner__title"><a href="#">Продуктовый магазин «Кипр», доставка на дом</a></h6>
						<div class="master-inner__contacts ">
							<div class="contacts-item">
								<div class="contacts-item__icon">
									<svg class="icon icon-pin">
										<use xlink:href="img/sprite.svg#pin"></use>
									</svg>
								</div>
								Като Пафос, ул. Малиновая, 109
							</div>

							<div class="contacts-item">
								<div class="contacts-item__icon">
									<svg class="icon icon-phone">
										<use xlink:href="img/sprite.svg#phone"></use>
									</svg>
								</div>
								+3 900 093-00-00
							</div>
						</div>
						<a href="#" class="btn btn--danger btn--block btn--lg">Подробнее</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="master-inner">
						<div class="master-inner__img">
							<a href="#"><img src="img/master-img-1.jpg" alt=""></a>
							<button class="master-inner__favorite favorite">
								<svg class="icon icon-heart-alt">
									<use xlink:href="img/sprite.svg#heart-alt"></use>
								</svg>
								<svg class="icon icon-heart">
									<use xlink:href="img/sprite.svg#heart"></use>
								</svg>
							</button>
						</div>
						<h6 class="master-inner__title"><a href="#">Продуктовый магазин «Кипр», доставка на дом</a></h6>
						<div class="master-inner__contacts ">
							<div class="contacts-item">
								<div class="contacts-item__icon">
									<svg class="icon icon-pin">
										<use xlink:href="img/sprite.svg#pin"></use>
									</svg>
								</div>
								Като Пафос, ул. Малиновая, 109
							</div>

							<div class="contacts-item">
								<div class="contacts-item__icon">
									<svg class="icon icon-phone">
										<use xlink:href="img/sprite.svg#phone"></use>
									</svg>
								</div>
								+3 900 093-00-00
							</div>
						</div>
						<a href="#" class="btn btn--danger btn--block btn--lg">Подробнее</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="master-inner">
						<div class="master-inner__img">
							<a href="#"><img src="img/master-img-1.jpg" alt=""></a>
							<button class="master-inner__favorite favorite">
								<svg class="icon icon-heart-alt">
									<use xlink:href="img/sprite.svg#heart-alt"></use>
								</svg>
								<svg class="icon icon-heart">
									<use xlink:href="img/sprite.svg#heart"></use>
								</svg>
							</button>
						</div>
						<h6 class="master-inner__title"><a href="#">Продуктовый магазин «Кипр», доставка на дом</a></h6>
						<div class="master-inner__contacts ">
							<div class="contacts-item">
								<div class="contacts-item__icon">
									<svg class="icon icon-pin">
										<use xlink:href="img/sprite.svg#pin"></use>
									</svg>
								</div>
								Като Пафос, ул. Малиновая, 109
							</div>

							<div class="contacts-item">
								<div class="contacts-item__icon">
									<svg class="icon icon-phone">
										<use xlink:href="img/sprite.svg#phone"></use>
									</svg>
								</div>
								+3 900 093-00-00
							</div>
						</div>
						<a href="#" class="btn btn--danger btn--block btn--lg">Подробнее</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="master-inner">
						<div class="master-inner__img">
							<a href="#"><img src="img/master-img-1.jpg" alt=""></a>
							<button class="master-inner__favorite favorite">
								<svg class="icon icon-heart-alt">
									<use xlink:href="img/sprite.svg#heart-alt"></use>
								</svg>
								<svg class="icon icon-heart">
									<use xlink:href="img/sprite.svg#heart"></use>
								</svg>
							</button>
						</div>
						<h6 class="master-inner__title"><a href="#">Продуктовый магазин «Кипр», доставка на дом</a></h6>
						<div class="master-inner__contacts ">
							<div class="contacts-item">
								<div class="contacts-item__icon">
									<svg class="icon icon-pin">
										<use xlink:href="img/sprite.svg#pin"></use>
									</svg>
								</div>
								Като Пафос, ул. Малиновая, 109
							</div>

							<div class="contacts-item">
								<div class="contacts-item__icon">
									<svg class="icon icon-phone">
										<use xlink:href="img/sprite.svg#phone"></use>
									</svg>
								</div>
								+3 900 093-00-00
							</div>
						</div>
						<a href="#" class="btn btn--danger btn--block btn--lg">Подробнее</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="master-inner">
						<div class="master-inner__img">
							<a href="#"><img src="img/master-img-1.jpg" alt=""></a>
							<button class="master-inner__favorite favorite">
								<svg class="icon icon-heart-alt">
									<use xlink:href="img/sprite.svg#heart-alt"></use>
								</svg>
								<svg class="icon icon-heart">
									<use xlink:href="img/sprite.svg#heart"></use>
								</svg>
							</button>
						</div>
						<h6 class="master-inner__title"><a href="#">Продуктовый магазин «Кипр», доставка на дом</a></h6>
						<div class="master-inner__contacts ">
							<div class="contacts-item">
								<div class="contacts-item__icon">
									<svg class="icon icon-pin">
										<use xlink:href="img/sprite.svg#pin"></use>
									</svg>
								</div>
								Като Пафос, ул. Малиновая, 109
							</div>

							<div class="contacts-item">
								<div class="contacts-item__icon">
									<svg class="icon icon-phone">
										<use xlink:href="img/sprite.svg#phone"></use>
									</svg>
								</div>
								+3 900 093-00-00
							</div>
						</div>
						<a href="#" class="btn btn--danger btn--block btn--lg">Подробнее</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="master-inner">
						<div class="master-inner__img">
							<a href="#"><img src="img/master-img-1.jpg" alt=""></a>
							<button class="master-inner__favorite favorite">
								<svg class="icon icon-heart-alt">
									<use xlink:href="img/sprite.svg#heart-alt"></use>
								</svg>
								<svg class="icon icon-heart">
									<use xlink:href="img/sprite.svg#heart"></use>
								</svg>
							</button>
						</div>
						<h6 class="master-inner__title"><a href="#">Продуктовый магазин «Кипр», доставка на дом</a></h6>
						<div class="master-inner__contacts ">
							<div class="contacts-item">
								<div class="contacts-item__icon">
									<svg class="icon icon-pin">
										<use xlink:href="img/sprite.svg#pin"></use>
									</svg>
								</div>
								Като Пафос, ул. Малиновая, 109
							</div>

							<div class="contacts-item">
								<div class="contacts-item__icon">
									<svg class="icon icon-phone">
										<use xlink:href="img/sprite.svg#phone"></use>
									</svg>
								</div>
								+3 900 093-00-00
							</div>
						</div>
						<a href="#" class="btn btn--danger btn--block btn--lg">Подробнее</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="master-inner">
						<div class="master-inner__img">
							<a href="#"><img src="img/master-img-1.jpg" alt=""></a>
							<button class="master-inner__favorite favorite">
								<svg class="icon icon-heart-alt">
									<use xlink:href="img/sprite.svg#heart-alt"></use>
								</svg>
								<svg class="icon icon-heart">
									<use xlink:href="img/sprite.svg#heart"></use>
								</svg>
							</button>
						</div>
						<h6 class="master-inner__title"><a href="#">Продуктовый магазин «Кипр», доставка на дом</a></h6>
						<div class="master-inner__contacts ">
							<div class="contacts-item">
								<div class="contacts-item__icon">
									<svg class="icon icon-pin">
										<use xlink:href="img/sprite.svg#pin"></use>
									</svg>
								</div>
								Като Пафос, ул. Малиновая, 109
							</div>

							<div class="contacts-item">
								<div class="contacts-item__icon">
									<svg class="icon icon-phone">
										<use xlink:href="img/sprite.svg#phone"></use>
									</svg>
								</div>
								+3 900 093-00-00
							</div>
						</div>
						<a href="#" class="btn btn--danger btn--block btn--lg">Подробнее</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="master-inner">
						<div class="master-inner__img">
							<a href="#"><img src="img/master-img-1.jpg" alt=""></a>
							<button class="master-inner__favorite favorite">
								<svg class="icon icon-heart-alt">
									<use xlink:href="img/sprite.svg#heart-alt"></use>
								</svg>
								<svg class="icon icon-heart">
									<use xlink:href="img/sprite.svg#heart"></use>
								</svg>
							</button>
						</div>
						<h6 class="master-inner__title"><a href="#">Продуктовый магазин «Кипр», доставка на дом</a></h6>
						<div class="master-inner__contacts ">
							<div class="contacts-item">
								<div class="contacts-item__icon">
									<svg class="icon icon-pin">
										<use xlink:href="img/sprite.svg#pin"></use>
									</svg>
								</div>
								Като Пафос, ул. Малиновая, 109
							</div>

							<div class="contacts-item">
								<div class="contacts-item__icon">
									<svg class="icon icon-phone">
										<use xlink:href="img/sprite.svg#phone"></use>
									</svg>
								</div>
								+3 900 093-00-00
							</div>
						</div>
						<a href="#" class="btn btn--danger btn--block btn--lg">Подробнее</a>
					</div>
				</div>
			</div>

			<div class="news-swiper__controls swiper-controls ">
				<div class=" swiper-button-prev"></div>
				<div class=" swiper-pagination"></div>
				<div class=" swiper-button-next"></div>
			</div>
		</div>
	</div>

</section>