
<section class="section">
	<div class="section__head">
		<h2 class="section__title">Полезные отзывы о магазинах</h2>
		
	</div>
	
	<div class="message" style="display: none;">
		У этого магазина пока нет отзывов
	</div>


	<!-- Slider reviews-slider -->
	<div class="reviews-slider">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="reviews-inner">
						<div class="reviews-inner__top">
							<div class="reviews-inner__top-left">
								<div class="reviews-inner__title"><a href="#">Магазин Петрушка</a></div>
								<div class="reviews-inner__cat">свежие овощи и фрукты</div>
							</div>
							<div class="reviews-inner__top-right">
								<div class="rating">
									<div class="rating__stars">
										<svg class="icon icon-signs-full"><use xlink:href="img/sprite.svg#signs-full"></use></svg>
										<svg class="icon icon-signs-full"><use xlink:href="img/sprite.svg#signs-full"></use></svg>
										<svg class="icon icon-signs-full"><use xlink:href="img/sprite.svg#signs-full"></use></svg>
										<svg class="icon icon-signs"><use xlink:href="img/sprite.svg#signs"></use></svg>
										<svg class="icon icon-signs"><use xlink:href="img/sprite.svg#signs"></use></svg>
									</div>
									<div class="rating__value">Отзывы (2)</div>
								</div>
							</div>
						</div>
						<div class="reviews-inner__body">
							<div class="reviews-inner__text">Кошки не похожи на людей, кошки это кошки. Люди носят шляпу и пальто, кошки часто ходят без одежки.</div>
							<div class="reviews-inner__foot">
								<div class="reviews-inner__name">Иван Т.</div>
								<div class="reviews-inner__date">20.10.2020 <span class="time">8:11</span></div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="reviews-inner">
						<div class="reviews-inner__top">
							<div class="reviews-inner__top-left">
								<div class="reviews-inner__title"><a href="#">Приорити</a></div>
								<div class="reviews-inner__cat">аренда авто</div>
							</div>
							<div class="reviews-inner__top-right">
								<div class="rating">
									<div class="rating__stars">
										<svg class="icon icon-signs-full"><use xlink:href="img/sprite.svg#signs-full"></use></svg>
										<svg class="icon icon-signs-full"><use xlink:href="img/sprite.svg#signs-full"></use></svg>
										<svg class="icon icon-signs-full"><use xlink:href="img/sprite.svg#signs-full"></use></svg>
										<svg class="icon icon-signs"><use xlink:href="img/sprite.svg#signs"></use></svg>
										<svg class="icon icon-signs"><use xlink:href="img/sprite.svg#signs"></use></svg>
									</div>
									<div class="rating__value">Отзывы (32)</div>
								</div>
							</div>
						</div>
						<div class="reviews-inner__body">
							<div class="reviews-inner__text">Кошки не похожи на людей, кошки это кошки. Люди носят шляпу и пальто, кошки часто ходят без одежки.Кошки не похожи на людей, кошки это кошки. Люди носят шляпу и пальто, кошки часто ходят без одежки. </div>
							<div class="reviews-inner__foot">
								<div class="reviews-inner__name">Иван Т.</div>
								<div class="reviews-inner__date">20.10.2020 <span class="time">8:11</span></div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="reviews-inner">
						<div class="reviews-inner__top">
							<div class="reviews-inner__top-left">
								<div class="reviews-inner__title"><a href="#">Эльмира Калачева</a></div>
								<div class="reviews-inner__cat">маникюр, педикюр</div>
							</div>
							<div class="reviews-inner__top-right">
								<div class="rating">
									<div class="rating__stars">
										<svg class="icon icon-signs-full"><use xlink:href="img/sprite.svg#signs-full"></use></svg>
										<svg class="icon icon-signs-full"><use xlink:href="img/sprite.svg#signs-full"></use></svg>
										<svg class="icon icon-signs-full"><use xlink:href="img/sprite.svg#signs-full"></use></svg>
										<svg class="icon icon-signs"><use xlink:href="img/sprite.svg#signs"></use></svg>
										<svg class="icon icon-signs"><use xlink:href="img/sprite.svg#signs"></use></svg>
									</div>
									<div class="rating__value">Отзывы (22)</div>
								</div>
							</div>
						</div>
						<div class="reviews-inner__body">
							<div class="reviews-inner__text">Кошки не похожи на людей, кошки это кошки. Люди носят шляпу и пальто, кошки часто ходят без одежки. Кошки не похожи на людей, кошки это кошки. Люди носят шляпу и пальто, кошки часто ходят без одежки.</div>
							<div class="reviews-inner__foot">
								<div class="reviews-inner__name">Иван Т.</div>
								<div class="reviews-inner__date">20.10.2020 <span class="time">8:11</span></div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="reviews-inner">
						<div class="reviews-inner__top">
							<div class="reviews-inner__top-left">
								<div class="reviews-inner__title"><a href="#">Магазин Петрушка</a></div>
								<div class="reviews-inner__cat">свежие овощи и фрукты</div>
							</div>
							<div class="reviews-inner__top-right">
								<div class="rating">
									<div class="rating__stars">
										<svg class="icon icon-signs-full"><use xlink:href="img/sprite.svg#signs-full"></use></svg>
										<svg class="icon icon-signs-full"><use xlink:href="img/sprite.svg#signs-full"></use></svg>
										<svg class="icon icon-signs-full"><use xlink:href="img/sprite.svg#signs-full"></use></svg>
										<svg class="icon icon-signs"><use xlink:href="img/sprite.svg#signs"></use></svg>
										<svg class="icon icon-signs"><use xlink:href="img/sprite.svg#signs"></use></svg>
									</div>
									<div class="rating__value">Отзывы (2)</div>
								</div>
							</div>
						</div>
						<div class="reviews-inner__body">
							<div class="reviews-inner__text">Кошки не похожи на людей, кошки это кошки. Люди носят шляпу и пальто, кошки часто ходят без одежки.</div>
							<div class="reviews-inner__foot">
								<div class="reviews-inner__name">Иван Т.</div>
								<div class="reviews-inner__date">20.10.2020 <span class="time">8:11</span></div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="swiper-slide">
					<div class="reviews-inner">
						<div class="reviews-inner__top">
							<div class="reviews-inner__top-left">
								<div class="reviews-inner__title"><a href="#">Магазин Петрушка</a></div>
								<div class="reviews-inner__cat">свежие овощи и фрукты</div>
							</div>
							<div class="reviews-inner__top-right">
								<div class="rating">
									<div class="rating__stars">
										<svg class="icon icon-signs-full"><use xlink:href="img/sprite.svg#signs-full"></use></svg>
										<svg class="icon icon-signs-full"><use xlink:href="img/sprite.svg#signs-full"></use></svg>
										<svg class="icon icon-signs-full"><use xlink:href="img/sprite.svg#signs-full"></use></svg>
										<svg class="icon icon-signs"><use xlink:href="img/sprite.svg#signs"></use></svg>
										<svg class="icon icon-signs"><use xlink:href="img/sprite.svg#signs"></use></svg>
									</div>
									<div class="rating__value">Отзывы (2)</div>
								</div>
							</div>
						</div>
						<div class="reviews-inner__body">
							<div class="reviews-inner__text">Кошки не похожи на людей, кошки это кошки. Люди носят шляпу и пальто, кошки часто ходят без одежки.</div>
							<div class="reviews-inner__date">20.10.2020 <span class="time">8:11</span></div>
						</div>
					</div>
				</div>
			</div>
			<div class="reviews-slider__controls swiper-controls swiper-controls--blue">
				<div class=" swiper-button-prev"></div>
				<div class=" swiper-pagination"></div>
				<div class=" swiper-button-next"></div>
			</div>
		</div>
	</div>
	
</section>
