<section class="section">
	<div class="section__head"><h2 class="section__tltle">Товары недели</h2></div>


	<!-- Slider cards-week -->
	<div class="cards-week">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<article class="card-horizontal">
						<div class="card-horizontal__img">
							<a href="#"><img src="img/card-hor.jpg" alt=""></a>
						</div>
						<div class="card-horizontal__content">
							<h6 class="card-horizontal__title"><a href="#">Вишневые пирожки «Бабушка Глаша»</a></h6>
							<p><a href="#">Магазин продуктов «Петрушка»</a></p>
							<div class="card-horizontal__price">
								<span class="price-value">3€</span>
							</div>
						</div>
					</article>
				</div>
				<div class="swiper-slide">
					<article class="card-horizontal">
						<div class="card-horizontal__img">
							<a href="#"><img src="img/card-hor.jpg" alt=""></a>
						</div>
						<div class="card-horizontal__content">
							<h6 class="card-horizontal__title"><a href="#">Вишневые пирожки «Бабушка Глаша»</a></h6>
							<p><a href="#">Магазин продуктов «Петрушка»</a></p>
							<div class="card-horizontal__price">
								<span class="price-value">3€</span>
							</div>
						</div>
					</article>
				</div>
				<div class="swiper-slide">
					<article class="card-horizontal">
						<div class="card-horizontal__img">
							<a href="#"><img src="img/card-hor.jpg" alt=""></a>
						</div>
						<div class="card-horizontal__content">
							<h6 class="card-horizontal__title"><a href="#">Вишневые пирожки «Бабушка Глаша»</a></h6>
							<p><a href="#">Магазин продуктов «Петрушка»</a></p>
							<div class="card-horizontal__price">
								<span class="price-value">3€</span>
							</div>
						</div>
					</article>
				</div>
				<div class="swiper-slide">
					<article class="card-horizontal">
						<div class="card-horizontal__img">
							<a href="#"><img src="img/card-hor.jpg" alt=""></a>
						</div>
						<div class="card-horizontal__content">
							<h6 class="card-horizontal__title"><a href="#">Вишневые пирожки «Бабушка Глаша»</a></h6>
							<p><a href="#">Магазин продуктов «Петрушка»</a></p>
							<div class="card-horizontal__price">
								<span class="price-value">3€</span>
							</div>
						</div>
					</article>
				</div>
				<div class="swiper-slide">
					<article class="card-horizontal">
						<div class="card-horizontal__img">
							<a href="#"><img src="img/card-hor.jpg" alt=""></a>
						</div>
						<div class="card-horizontal__content">
							<h6 class="card-horizontal__title"><a href="#">Вишневые пирожки «Бабушка Глаша»</a></h6>
							<p><a href="#">Магазин продуктов «Петрушка»</a></p>
							<div class="card-horizontal__price">
								<span class="price-value">3€</span>
							</div>
						</div>
					</article>
				</div>
				<div class="swiper-slide">
					<article class="card-horizontal">
						<div class="card-horizontal__img">
							<a href="#"><img src="img/card-hor.jpg" alt=""></a>
						</div>
						<div class="card-horizontal__content">
							<h6 class="card-horizontal__title"><a href="#">Вишневые пирожки «Бабушка Глаша»</a></h6>
							<p><a href="#">Магазин продуктов «Петрушка»</a></p>
							<div class="card-horizontal__price">
								<span class="price-value">3€</span>
							</div>
						</div>
					</article>
				</div>
				<div class="swiper-slide">
					<article class="card-horizontal">
						<div class="card-horizontal__img">
							<a href="#"><img src="img/card-hor.jpg" alt=""></a>
						</div>
						<div class="card-horizontal__content">
							<h6 class="card-horizontal__title"><a href="#">Вишневые пирожки «Бабушка Глаша»</a></h6>
							<p><a href="#">Магазин продуктов «Петрушка»</a></p>
							<div class="card-horizontal__price">
								<span class="price-value">3€</span>
							</div>
						</div>
					</article>
				</div>
				<div class="swiper-slide">
					<article class="card-horizontal">
						<div class="card-horizontal__img">
							<a href="#"><img src="img/card-hor.jpg" alt=""></a>
						</div>
						<div class="card-horizontal__content">
							<h6 class="card-horizontal__title"><a href="#">Вишневые пирожки «Бабушка Глаша»</a></h6>
							<p><a href="#">Магазин продуктов «Петрушка»</a></p>
							<div class="card-horizontal__price">
								<span class="price-value">3€</span>
							</div>
						</div>
					</article>
				</div>
			</div>
			<div class="cards-week__controls swiper-controls ">
				<div class=" swiper-button-prev"></div>
				<div class=" swiper-pagination"></div>
				<div class=" swiper-button-next"></div>
			</div>
		</div>
	</div>
	
</section>