<!-- BEGIN there are questions -->
					<section class="section">
						<div class="section__head"><h2 class="section__title">У вас есть вопросы?</h2></div>
						<div class="row q-contacts">
							<div class="col-md-6">
								<div class="row align-items-center">
									<div class="col-xl-7">
										<p class="q-contacts__text">Задать вопрос местным жителям и туристам в нашей группе</p>
									</div>
									<div class="col-xl-5">
										<div class="social social--xl">
											<a href="#" class="social__btn"><svg class="icon icon-facebook"><use xlink:href="img/sprite.svg#facebook"></use></svg></a>
											<a href="#" class="social__btn"><svg class="icon icon-vk"><use xlink:href="img/sprite.svg#vk"></use></svg></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row align-items-center">
									<div class="col-xl-7">
										<p class="q-contacts__text">Следите за новостями на официальных страницах Пафоса</p>
									</div>
									<div class="col-xl-5">
										<div class="social social--xl">
											<a href="#" class="social__btn"><svg class="icon icon-facebook"><use xlink:href="img/sprite.svg#facebook"></use></svg></a>
											<a href="#" class="social__btn"><svg class="icon icon-vk"><use xlink:href="img/sprite.svg#vk"></use></svg></a>
											<a href="#" class="social__btn"><svg class="icon icon-instagram"><use xlink:href="img/sprite.svg#instagram"></use></svg></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- there are questions EOF   -->