<section class="section">
					<div class="section__head"><h2 class="section__tltle">Новости, скидки и акции</h2></div>
					<!-- Slider news-swiper -->
					<div class="news-swiper _news-swiper">
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<article class="news-inner">
										<div class="news-inner__img">
											<a href="#"><img src="img/news-img-1.jpg" alt=""></a>
											<div class="sticker sticker--action">Акция</div>
										</div>
										<h6 class="news-inner__title"><a href="#">Магазин игрушек «Toys» открыл новое напраление</a></h6>
										<p>Это строки для рекламы. Нативная реклама - лучшая реклама</p>
									</article>
								</div>
								<div class="swiper-slide">
									<article class="news-inner">
										<div class="news-inner__img">
											<a href="#"><img src="img/news-img2.jpg" alt=""></a>
											<div class="sticker sticker--sale">-20%</div>
										</div>
										<h6 class="news-inner__title"><a href="#">Скидка 20% в спорт мастере</a></h6>
										<p>Что стоит учитывать при планировании отпуска с детьми. Все подводные камни и не только в статье</p>
									</article>
								</div>
								<div class="swiper-slide">
									<article class="news-inner">
										<div class="news-inner__img">
											<a href="#"><img src="img/news-img3.jpg" alt=""></a>
											<div class="sticker sticker--sale">-20%</div>
										</div>
										<h6 class="news-inner__title"><a href="#">Скидка 20% в спорт мастере</a></h6>
										<p>Что стоит учитывать при планировании отпуска с детьми. Все подводные камни и не только в статье</p>
									</article>
								</div>
								<div class="swiper-slide">
									<article class="news-inner">
										<div class="news-inner__img">
											<a href="#"><img src="img/news-img4.jpg" alt=""></a>
											
										</div>
										<h6 class="news-inner__title"><a href="#">Новость на все чайники в сувенирном магазине </a></h6>
										<p>Что можно привезти с острова. Магниты, кружки и прочие сувениры</p>
									</article>
								</div>
								<div class="swiper-slide">
									<article class="news-inner">
										<div class="news-inner__img">
											<a href="#"><img src="img/news-img-1.jpg" alt=""></a>
											<div class="sticker sticker--action">Акция</div>
										</div>
										<h6 class="news-inner__title"><a href="#">Магазин игрушек «Toys» открыл новое напраление</a></h6>
										<p>Это строки для рекламы. Нативная реклама - лучшая реклама</p>
									</article>
								</div>
								<div class="swiper-slide">
									<article class="news-inner">
										<div class="news-inner__img">
											<a href="#"><img src="img/news-img-1.jpg" alt=""></a>
											<div class="sticker sticker--sale">-20%</div>
										</div>
										<h6 class="news-inner__title"><a href="#">Магазин игрушек «Toys» открыл новое напраление</a></h6>
										<p>Это строки для рекламы. Нативная реклама - лучшая реклама</p>
									</article>
								</div>
								<div class="swiper-slide">
									<article class="news-inner">
										<div class="news-inner__img">
											<a href="#"><img src="img/news-img-1.jpg" alt=""></a>
											<div class="sticker sticker--sale">-20%</div>
										</div>
										<h6 class="news-inner__title"><a href="#">Магазин игрушек «Toys» открыл новое напраление</a></h6>
										<p>Это строки для рекламы. Нативная реклама - лучшая реклама</p>
									</article>
								</div>
								<div class="swiper-slide">
									<article class="news-inner">
										<div class="news-inner__img">
											<a href="#"><img src="img/news-img-1.jpg" alt=""></a>
											
										</div>
										<h6 class="news-inner__title"><a href="#">Магазин игрушек «Toys» открыл новое напраление</a></h6>
										<p>Это строки для рекламы. Нативная реклама - лучшая реклама</p>
									</article>
								</div>
							</div>

							<div class="news-swiper__controls swiper-controls ">
								<div class=" swiper-button-prev"></div>
								<div class=" swiper-pagination"></div>
								<div class=" swiper-button-next"></div>
							</div>
						</div>
					</div>
					
				</section>