<section class="section">
	<div class="section__head"><h2 class="section__title">Популярные специалисты в этой категории</h2></div>

	<!-- Slider news-swiper -->
	<div class="news-swiper _news-swiper">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<article class="news-inner">
						<div class="news-inner__img">
							<a href="#"><img src="img/news-img-1.jpg" alt=""></a>
						</div>
						<h6 class="news-inner__title"><a href="#">Продуктовый магазин «Кипр», доставка на дом</a></h6>
					</article>
				</div>
				<div class="swiper-slide">
					<article class="news-inner">
						<div class="news-inner__img">
							<a href="#"><img src="img/news-img-1.jpg" alt=""></a>
						</div>
						<h6 class="news-inner__title"><a href="#">Продуктовый магазин «Кипр», доставка на дом</a></h6>
					</article>
				</div>
				<div class="swiper-slide">
					<article class="news-inner">
						<div class="news-inner__img">
							<a href="#"><img src="img/news-img-1.jpg" alt=""></a>
						</div>
						<h6 class="news-inner__title"><a href="#">Продуктовый магазин «Кипр», доставка на дом</a></h6>
					</article>
				</div>
				<div class="swiper-slide">
					<article class="news-inner">
						<div class="news-inner__img">
							<a href="#"><img src="img/news-img-1.jpg" alt=""></a>
						</div>
						<h6 class="news-inner__title"><a href="#">Продуктовый магазин «Кипр», доставка на дом</a></h6>
					</article>
				</div>
				<div class="swiper-slide">
					<article class="news-inner">
						<div class="news-inner__img">
							<a href="#"><img src="img/news-img-1.jpg" alt=""></a>
						</div>
						<h6 class="news-inner__title"><a href="#">Продуктовый магазин «Кипр», доставка на дом</a></h6>
					</article>
				</div>
				<div class="swiper-slide">
					<article class="news-inner">
						<div class="news-inner__img">
							<a href="#"><img src="img/news-img-1.jpg" alt=""></a>
						</div>
						<h6 class="news-inner__title"><a href="#">Продуктовый магазин «Кипр», доставка на дом</a></h6>
					</article>
				</div>
				<div class="swiper-slide">
					<article class="news-inner">
						<div class="news-inner__img">
							<a href="#"><img src="img/news-img-1.jpg" alt=""></a>
						</div>
						<h6 class="news-inner__title"><a href="#">Продуктовый магазин «Кипр», доставка на дом</a></h6>
					</article>
				</div>
				<div class="swiper-slide">
					<article class="news-inner">
						<div class="news-inner__img">
							<a href="#"><img src="img/news-img-1.jpg" alt=""></a>
						</div>
						<h6 class="news-inner__title"><a href="#">Продуктовый магазин «Кипр», доставка на дом</a></h6>
					</article>
				</div>
			</div>

			<div class="news-swiper__controls swiper-controls ">
				<div class=" swiper-button-prev"></div>
				<div class=" swiper-pagination"></div>
				<div class=" swiper-button-next"></div>
			</div>
		</div>
	</div>

</section>