$form-border: .1rem solid #e9edf0
$form-bg: #e9edf0
$form-radius: 4rem
$form-color: $color
$form-placeholder: #7d7d7d
$form-size: 1.4rem
$form-height: 4rem
$form-weight: 700

.form
	&-margin
		margin-bottom: -2rem
	&-field
		margin-bottom: 2rem
		position: relative
		.checkbox, .radio
			margin-bottom: 0
	&-label
		font-weight: 700
		font-size: 1.4rem
		margin-bottom: 1.2rem

	&-wrap-icon
		display: flex
		align-items: center
		&__input
			flex: 1
			min-width: 1px
		.icon
			flex: none
			color: $color-info
			font-size: 2.8rem
			margin-right: 1.3rem
			display: block
	&-icon
		position: relative
		.form-input
			padding-right: 5.5rem
		.icon
			color: $color-info
			position: absolute
			top: 50%
			transform: translate(0,-50%)
			right: 1.5rem
			margin-top: -0.1rem
			font-size: 2rem
			&-pin
				font-size: 2.2rem
	&-social
		display: flex
		align-items: center
		margin-bottom: .8rem
		&__icon
			flex: none
			margin-right: 1.6rem
			display: flex
			align-items: center
			justify-content: center
			width: 2.5rem
			height: 2.5rem
			.icon
				font-size: 2rem
				color: $color-danger
				display: block
		&__input
			flex: 1
			min-width: 1px
	&-input
		display: block
		width: 100%
		height: $form-height
		padding: 0 2rem
		color: $form-color
		font: $form-weight $form-size $font-family, Arial, sans-serif
		line-height: normal
		border: $form-border
		background: $form-bg
		border-radius: $form-radius
		transition: all 0.2s linear
		box-shadow: .3rem .3rem .4rem rgba(#393939, 0.6), -.3rem -.3rem .4rem #fff

		+placeholder
			color: $form-placeholder
			transition: opacity 0.2s linear
			font-weight: 300

		&--t-center
			text-align: center
		&--center
			text-align: center

		&.error
			border-color: red
		&.valid
			border-color: green

	&-text
		margin-top: 1rem
		a
			font-size: 1.4rem
			font-weight: 700
			color: #7D7D7D
			text-decoration: underline
			&:hover
				text-decoration: none
		&--lg
			font-size: 1.4rem
	&-button
		margin-top: 2rem

.text-error
	color: $color-danger
	font-size: 1rem
	font-weight: 700
	margin-top: .6rem

.form-btn-arrow
	width: 3.4rem
	height: 3.4rem
	border-radius: 1rem
	background-color: #e9edf0
	border: none
	padding: 0
	flex: none
	box-shadow: .3rem .3rem .4rem rgba(#393939, 0.6), -.3rem -.3rem .4rem #fff
	&:after
		content: ''
		display: inline-block
		vertical-align: middle
		+arr(.5rem, .9rem, $color-danger, r)

textarea.form-input
	height: auto
	min-height: 9.4rem
	padding-top: 1rem
	padding-bottom: 1rem
	resize: none
	overflow: auto
	border-radius: 2rem

label
	display: block
	font-weight: 700
	font-size: 1.6rem
	margin-bottom: 1.2rem

.star
	color: $color-danger

/* Checkbox Radio  ======================================= */
.check-wrap
	display: flex
	align-items: flex-start

.check-list
	.checkbox, .radio
		margin-bottom: 1rem

.checkbox, .radio
	display: block
	cursor: pointer
	font-size: $form-size
	font-weight: 400
	line-height: normal
	margin: 0 0 2rem 0
	position: relative

	input
		display: none

	&__figure
		position: absolute
		top: 0rem
		left: 0
		width: 2.5rem
		height: 2.6rem

		background: #E9EDF0
		border: none
		transition: all 0.2s linear
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px #FFFFFF
	&__text
		min-height: 2.5rem
		padding-left: 4.1rem
		min-width: 1px
		padding-top: 0.6rem
		display: block

.checkbox
	input
		&:checked ~ .checkbox__figure
			box-shadow: inset -2px -2px 3px #FFFFFF, inset 2px 2px 3px #7E7E7E
			&:after
				content: ''
				display: block
				position: absolute
				z-index: 1
				height: 100%
				width: 100%
				// background: url('../img/check.png') no-repeat .2rem .4rem
				background: url('../img/check-lg.png') no-repeat .3rem .6rem

	&__figure
		border-radius: .5rem

	&.inline
		margin-right: 3rem
		margin-bottom: 1.5rem

.checkboxs
	margin-bottom: -1.5rem

.radio
	input
		&:checked ~ .radio__figure:after
			content: ''
			display: block
			position: absolute
			z-index: 1
			left: .3rem
			top: .3rem
			height: 1rem
			width: 1rem
			border-radius: 50%
			background: #fa4242

	&__figure
		border-radius: 50%

/* Selectbox  ======================================= */
.selectbox
	position: relative
	&__head
		display: flex
		height: $form-height
		border: $form-border
		border-radius: $form-radius
		cursor: pointer
		background: $form-bg
		position: relative
		transition: all 0.2s linear
		box-shadow: .3rem .3rem .4rem rgba(#393939, 0.6), -.3rem -.3rem .4rem #fff

	&__text

		flex: 1
		min-width: 1px
		padding: 0 2rem
		max-width: 100%
		+text-overflow
		font: $form-weight $form-size $font-family, Arial, sans-serif
		color: $form-color
		line-height: $form-height - .2rem
		letter-spacing: 0.02rem
		&.placeholder
			color: $form-placeholder
			transition: opacity 0.2s linear
			font-weight: 300

	&__caret
		display: flex
		align-items: center
		flex: none
		margin-right: 2rem
		font-size: 0
		&:after
			content: ''
			display: block
			+arr(1.6rem,.8rem,#E43C3C, b)

	&__drop
		display: none
		border: none
		border-radius: 2rem
		border-top: none
		position: absolute
		top: 100%
		margin-top: 1rem
		left: 0
		width: 100%
		z-index: 10
		background: $form-bg
		box-shadow: .3rem .3rem .4rem rgba(#393939, 0.6), -.3rem -.3rem .4rem #fff
		overflow: hidden

		ul

			max-height: 17.2rem
			overflow: hidden
			overflow-y: auto
			padding: 1rem 0
			li
				padding: .8rem 2rem
				font-size: 1.4rem
				font-weight: 600
				color: $color
				cursor: pointer

				@media (any-hover: hover)
					&:hover

						color: $color-danger
				&._selected
					background: $color-danger
					color: #fff

	&__search
		margin-left: -0.1rem
		margin-right: -0.1rem
		position: relative
		.icon-zoom
			position: absolute
			left: 1.3rem
			top: 1rem
			font-size: 1.6rem
			color: #aaa
		.form-input
			padding-left: 3.9rem

	&._open
		.selectbox__head
			z-index: 11
		.selectbox__caret
			transform: rotate(180deg)
		.selectbox__drop
			display: block

.scrollbar::-webkit-scrollbar
	width: .4rem
	background-color: #f3f3f3

.scrollbar::-webkit-scrollbar-thumb
	width: .4rem
	background-color: #aaa

/* Upload */
/* --------------------------------------------------------------- */
.upload-images
	align-items: center
	display: flex
	flex-wrap: wrap

	&__item
		margin-top: 2rem
		flex: none
		width: 8.8rem
		margin-right: 1.9rem

		&.template
			display: none
	&__preview

		img
			height: 5rem
			width: 8.8rem
			object-fit: cover

	&__remove
		margin-top: 0.4rem
		cursor: pointer
		color: $color-danger
		font-size: 1.2rem
		font-weight: 400

	&._change
		.upload-images__item

			display: block

.upload
	&__input
		position: relative
		line-height: 3.7rem
		white-space: nowrap
		cursor: pointer
		padding-right: 5rem
		margin-bottom: 0
		flex: 1
		min-width: 1px
		span
			+text-overflow
			display: block
		span.placeholder

			color: $form-placeholder
			font-weight: 300

		.icon
			position: absolute
			top: .7rem
			right: 1.5rem
			color: $color-danger
			font-size: 2rem

		input
			display: none
