
/* Gallery Events ===================================================================================================*/
/* =========================================================================================================*/

.events-page, .gallery-page
	.main-content__head
		display: flex
		align-items: flex-end
		flex-wrap: wrap
		justify-content: space-between
	.title
		flex: none
		margin-right: 1.5rem
	.sorting
		margin-bottom: 1.7rem
/* Rental ===================================================================================================*/
/* =========================================================================================================*/

.rental
	margin-bottom: 2rem
	&__img
		margin-bottom: 3rem
		img
			border-radius: 1rem 1rem 0 0
			width: 100%

.question-list
	border-top: .2rem solid #34A1D3
	border-bottom: .2rem solid #34A1D3
	padding: 5rem 0
	margin-bottom: 5rem
	&__item
		margin-bottom: 4rem
		&:last-child
			margin-bottom: 0
	&__title
		position: relative
		padding-left: 3.5rem
		font-size: 1.8rem
		font-weight: 700
		margin-bottom: 1.5rem
	&__symbol
		position: absolute
		left: 0
		top: -.2rem
		width: 2.5rem
		height: 2.5rem
		background: #34A1D3
		border-radius: 50%
		text-align: center
		line-height: 2.5rem
		color: #fff
		font-size: 1.8rem
		font-weight: 700
	&__text
		font-size: 1.6rem
		font-weight: 400

.rental-about
	font-size: 1.4rem
	font-weight: 400
	margin-bottom: 5rem

.det-list

	columns: 2
	column-gap: 3rem
	li
		padding-left: 2.5rem
		break-inside: avoid
		position: relative
		font-weight: 700
		font-size: 1.6rem
		margin-bottom: 2rem
		&:before
			content: ''
			display: block
			position: absolute
			left: 0
			top: .2rem
			width: 1.5rem
			height: 1.5rem
			border-radius: 50%
			background: $color-danger

.rental-widjet
	background: #EAEDF0
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px #FFFFFF
	border-radius: 10px 10px 0px 0px

	&__img
		img
			width: 100%
	&__body
		padding: 2rem

/* Hisrory ===================================================================================================*/
/* =========================================================================================================*/

.a-boxes
	box-shadow: .3rem .3rem .4rem rgba(#393939, 0.6), -.3rem -.3rem .4rem #fff
	background: $bgcolor
	border-radius: 1rem 1rem 0 0
	padding: 2.2rem 2rem
	&--round
		border-radius: 1rem
.facts-list
	ul
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		margin-bottom: -2.5rem
		li
			width: calc(50% - 4rem)
			font-size: 1.2rem
			font-weight: 700
			position: relative
			line-height: 150%
			padding-left: 4rem
			margin-bottom: 2.5rem
			&:before
				content: ''
				display: block
				position: absolute
				top: -.2rem
				left: 0
				width: 2.1rem
				height: 2.1rem
				border-radius: 50%
				background: #E43C3C

/* Info ===================================================================================================*/
/* =========================================================================================================*/

.page-map
	margin-top: 3rem

/* аренда жилья ===================================================================================================*/
/* =========================================================================================================*/
.rent-page
	&__alert-block
		margin-bottom: 5rem
.alert-block
	padding: 2.5rem 2.5rem 2.5rem 7rem
	border-radius: 1rem 1rem 0 0
	border: .2rem solid $color-info
	position: relative
	&__icon
		position: absolute
		top: 1.5rem
		left: 1.5rem
		width: 4.5rem
		text-align: center
		line-height: 1
		font-size: 7.2rem
		color: $color-info
		display: flex

		align-items: center
		justify-content: center
		font-weight: 700
	&__title
		font-size: 1.8rem
		font-weight: 700
		margin-bottom: 1rem
	&__text
		font-weight: 400
		font-size: 1.4rem
		margin-bottom: 1rem
	&__button
		margin-top: 2.5rem

.applications
	margin-bottom: -2rem
	&__item
		margin-bottom: 2rem
.item-application
	background: #EAEDF0
	padding: 2.5rem
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px #FFFFFF
	border-radius: 10px 10px 0px 0px

	&__head
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 1rem
		flex-wrap: wrap
	&__sticker
		height: 2.4rem
		line-height: 2.4rem
		color: #fff
		background: #34A1D3
		border-radius: 2rem
		padding: 0 1rem
		display: inline-block
		vertical-align: middle
		font-size: 1.2rem
		font-weight: 600
		white-space: nowrap
		margin-bottom: 1rem
		margin-right: 3rem
		&--danger
			background: $color-danger

	&__code
		font-size: 1.4rem
		font-weight: 600
		white-space: nowrap
		margin-bottom: 1rem

	&__text
		font-size: 1.4rem
		font-weight: 400

	&__body
		margin-bottom: 1rem
	&__foot
		display: flex
		align-items: center
		justify-content: space-between
		flex-wrap: wrap
		&-right
			display: flex
			align-items: center

	&__empty
		display: inline-flex
		align-items: center
		white-space: nowrap
		text-decoration: underline
		font-size: 1.4rem
		font-weight: 600
		margin-top: 1rem
		flex: none
		.icon
			margin-right: 1rem
			color: $color-info
			font-size: 1.9rem

	&__author
		font-style: italic
		font-weight: 600
		font-size: 1.4rem
		margin-left: 4rem
		margin-top: 1rem
	&__date
		margin-left: 4rem
		margin-top: 1rem
		font-weight: 300
		font-size: 1.4rem

@media (max-width: $ipad) and (min-width: $iphone_sm + 1)
	.rental-widjet
		display: flex
		border-radius: 1rem
		overflow: hidden
		&__img
			flex: none
			border-radius: 1rem 0 0 1rem
			overflow: hidden
			width: calc(50% - 1.5rem)
			img
				height: 100%
				object-fit: cover
		&__body
			flex: 1
			.form-input, .btn, a.btn
				height: 3.3rem
+max($ipad)
	/* Gallery Events ========== */ 
	.events-page, .gallery-page
		.main-content__head
			display: block
		.title
			margin-right: 0
		.sorting-nav
			margin-bottom: 0
	/* Rental ========== */ 
	.det-list
		li
			font-size: 1.4rem

	/* History ========== */ 
	.facts-list ul
		li
			width: calc(50% - 1.5rem)
			padding-left: 3rem
			&:before
				top: 0
				width: 1.6rem
				height: 1.6rem

/* About ===================================================================================================*/
/* =========================================================================================================*/
.about-page
	.banner-cards-wrap
		margin-top: 0

/* Error page ===================================================================================================*/
/* =========================================================================================================*/
.error-page
	text-align: center
	&__wrap
		margin: 10rem 0
	.main-content__head
		margin-bottom: 3rem
	.subtitle
		font-weight: 500
		margin-bottom: 2rem

/* Transport ===================================================================================================*/
/* =========================================================================================================*/
.route
	margin-bottom: 4rem
	&__title
		font-size: 1.8rem
		font-weight: 700
		margin-bottom: 2rem
	&__list
		&-item
			margin-bottom: .6rem
			display: flex
			align-items: flex-start
		&-icon
			flex: none
			position: relative
			top: 1px
			margin-right: 1rem
			.icon
				color: #34A1D3
				font-size: 1.8rem
		&-text
			font-size: 1.8rem
			font-weight: 400

.bltext
	font-weight: 400
	font-size: 1.6rem
	border-top: .3rem solid #34A1D3
	border-bottom: .3rem solid #34A1D3
	padding: 6rem 0
	margin-bottom: 6rem
	margin-top: 6rem

.article-news
	margin-bottom: 4rem
	font-size: 14px
	font-weight: 400
	&__title
		margin-bottom: 1.5rem
	&__body
		overflow: hidden
		a
			text-decoration: underline
	&__img
		float: left
		margin-right: 1rem
		margin-bottom: .5rem
		width: 26rem
		height: 15.8rem
		border-radius: 1rem 1rem 0 0
		object-fit: cover
+max($iphone)
	/* Rental ========== */ 
	.rental
		margin-bottom: 3rem

	.question-list
		padding: 3rem 0
		margin-bottom: 3rem
		&__item
			margin-bottom: 2.5rem
		&__title
			font-size: 1.6rem
		&__symbol
			font-size: 1.6rem
			top: -.4rem
		&__text
			font-size: 1.2rem

	.rental-about
		font-size: 1.2rem
		margin-bottom: 3rem

	.det-list
		columns: auto
		li
			font-size: 1.2rem
			&:before
				top: 0

	/* History ========== */ 
	.facts-list ul
		display: block
		li
			width: auto
			margin-bottom: 1.6rem

	/* Аренда жилья ========== */ 
	.item-application
		&__date, &__author
			margin-left: 3rem

	/* Error page ========== */ 
	.error-page
		&__wrap
			margin-top: 6.5rem
			margin-bottom: 6.5rem

	/* Transport ============ */
	.route
		margin-bottom: 3rem
		&__title
			font-size: 1.6rem
		&__list
			&-text
				font-size: 1.4rem
			&-icon .icon
				font-size: 1.6rem

	.bltext
		margin: 4rem 0
		padding: 4rem 0
		font-size: 1.4rem
+max($iphone_sm)
	/* Аренда жилья ========== */ 
	.item-application
		&__head
			display: block
		&__foot
			display: block

	/* Transport ============ */
	.article-news__img
		max-width: 100%
		width: auto
		height: auto
		margin-right: 0
		float: none
