<header class="header">
	<div class="container ">
		<a href="#" class="mm-toggle burger header__burger">
			<div class="burger__icon"></div>
		</a>
		<a href="#" class="header__logo logo">
			<span class="logo__text">I<svg class="icon icon-heart">
					<use xlink:href="img/sprite.svg#heart"></use>
				</svg>PAPHOS</span>
		</a>
		<div class="mobile-navbar ">
			<div class="mobile-navbar__container">
				<div class="mobile-navbar__header">
					<div class="mobile-navbar__close mm-toggle"></div>
				</div>
				<div class="mobile-navbar__main">
					<ul class="main-menu">
						<li class="main-menu__item mm-item">
							<a href="#" class="main-menu__link">О городе</a>
							<ul class="mm-menu">
								<li><a href="#">Транспорт</a></li>
								<li><a href="#">Отели</a></li>
								<li><a href="#">Интересные маршруты</a></li>
								<li><a href="#">Прокат авто и мото</a></li>
							</ul>
						</li>
						<li class="main-menu__item mm-item">
							<a href="#" class="main-menu__link">Туристу</a>
							<ul class="mm-menu">
								<li><a href="#">Транспорт</a></li>
								<li><a href="#">Отели</a></li>
								<li><a href="#">Интересные маршруты</a></li>
								<li><a href="#">Прокат авто и мото</a></li>
							</ul>
						</li>
						<li class="main-menu__item mm-item">
							<a href="#" class="main-menu__link">Жителю</a>
							<ul class="mm-menu">
								<li><a href="#">Транспорт</a></li>
								<li><a href="#">Отели</a></li>
								<li><a href="#">Интересные маршруты</a></li>
								<li><a href="#">Прокат авто и мото</a></li>
							</ul>
						</li>
						<li class="main-menu__item mm-item">
							<a href="#" class="main-menu__link">Куда пойти</a>
							<ul class="mm-menu mm-menu-columns-2">
								<li><a href="#">Транспорт</a></li>
								<li><a href="#">Отели</a></li>
								<li><a href="#">Интересные маршруты</a></li>
								<li><a href="#">Прокат авто и мото</a></li>
							</ul>
						</li>
						<li class="main-menu__item "><a href="#popup-subscribe" class="main-menu__link open-popup">Подписка</a></li>
						<li class="main-menu__item mm-item">
							<a href="#" class="main-menu__link">Магазины</a>
							<ul class="mm-menu">
								<li><a href="#">Транспорт</a></li>
								<li><a href="#">Отели</a></li>
								<li><a href="#">Интересные маршруты</a></li>
								<li><a href="#">Прокат авто и мото</a></li>
								<li><a href="#">Транспорт</a></li>
								<li><a href="#">Отели</a></li>
								<li><a href="#">Интересные маршруты</a></li>
								<li><a href="#">Прокат авто и мото</a></li>
								<li><a href="#">Транспорт</a></li>
								<li><a href="#">Отели</a></li>
								<li><a href="#">Интересные маршруты</a></li>
								<li><a href="#">Прокат авто и мото</a></li>
								<li><a href="#">Транспорт</a></li>
								<li><a href="#">Отели</a></li>
								<li><a href="#">Интересные маршруты</a></li>
								<li><a href="#">Прокат авто и мото</a></li>
								<li><a href="#">Транспорт</a></li>
								<li><a href="#">Отели</a></li>
								<li><a href="#">Интересные маршруты</a></li>
								<li><a href="#">Прокат авто и мото</a></li>
								<li><a href="#">Транспорт</a></li>
								<li><a href="#">Отели</a></li>
								<li><a href="#">Интересные маршруты</a></li>
								<li><a href="#">Прокат авто и мото</a></li>
								<li><a href="#">Транспорт</a></li>
								<li><a href="#">Отели</a></li>
								<li><a href="#">Интересные маршруты</a></li>
								<li><a href="#">Прокат авто и мото</a></li>
							</ul>
						</li>
						<li class="main-menu__item mm-item">
							<a href="#" class="main-menu__link">Услуги</a>
							<ul class="mm-menu mm-menu-columns-2">
								<li><a href="#">Транспорт</a></li>
								<li><a href="#">Отели</a></li>
								<li><a href="#">Интересные маршруты</a></li>
								<li><a href="#">Прокат авто и мото</a></li>
								<li><a href="#">Транспорт</a></li>
								<li><a href="#">Отели</a></li>
								<li><a href="#">Интересные маршруты</a></li>
								<li><a href="#">Прокат авто и мото</a></li>
								<li><a href="#">Транспорт</a></li>
								<li><a href="#">Отели</a></li>
								<li><a href="#">Интересные маршруты</a></li>
								<li><a href="#">Прокат авто и мото</a></li>
								<li><a href="#">Транспорт</a></li>
								<li><a href="#">Отели</a></li>
								<li><a href="#">Интересные маршруты</a></li>
								<li><a href="#">Прокат авто и мото</a></li>
								<li><a href="#">Транспорт</a></li>
								<li><a href="#">Отели</a></li>
								<li><a href="#">Интересные маршруты</a></li>
								<li><a href="#">Прокат авто и мото</a></li>
								<li><a href="#">Транспорт</a></li>
								<li><a href="#">Отели</a></li>
								<li><a href="#">Интересные маршруты</a></li>
								<li><a href="#">Прокат авто и мото</a></li>
							</ul>
						</li>

					</ul>
				</div>

			</div>
			<div class="mobile-navbar__overlay mm-toggle"></div>
		</div>

		<div class="search-int">
			<button type="button" class="search-button open-search"><svg class="icon icon-loupe">
					<use xlink:href="img/sprite.svg#loupe"></use>
				</svg></button>
			<div class="search-int__block">
				<input type="text" placeholder="Поиск" class="search-int__input">
			</div>
		</div>

		<div class="lang">
			<button class="lang__button">
				<img src="img/lang-rus.png" alt="">
				<span>рус</span>
			</button>
			<ul class="lang__list">
				<li><a href="#"><img src="img/lang-eng.png" alt=""> <span>eng</span></a></li>
				<li><a href="#"><img src="img/lang-3.png" alt=""> <span>gre</span></a></li>
			</ul>
		</div>

	</div>


</header>


<div class="fix-menu">
	<div class="container">
		<div class="fix-menu__button">
			@@if(nav==0) {
			<a href="#" class="btn-g open-nav"><svg class="icon icon--l icon--info icon-grid">
					<use xlink:href="img/sprite.svg#grid"></use>
				</svg>Каталог</a>
			}
			<a href="#" class="btn-g btn-g--icon open-filter"><svg class="icon icon--info icon-filter">
					<use xlink:href="img/sprite.svg#filter"></use>
				</svg></a>
		</div>
		@@if(nav==0) {
		<div class="fix-nav">
			<ul class="ct-menu">
				<li class="ct-menu__item ct-item">
					<a href="#" class="ct-menu__link">Мастера по ремонту</a>
					<ul>
						<li><a href="#">Мыло</a></li>
						<li><a href="#">Средства для волос</a></li>
					</ul>
				</li>
				<li class="ct-menu__item ct-item">
					<a href="#" class="ct-menu__link">Мастера красоты</a>
					<ul>
						<li><a href="#">Косметолог</a></li>
						<li><a href="#">Татуаж</a></li>
						<li><a href="#">Тату</a></li>
						<li><a href="#">Эпиляция</a></li>
						<li><a href="#">Стилист</a></li>
						<li><a href="#">Массажист</a></li>
						<li><a href="#">Парикхмахер</a></li>
						<li class="is-active"><a href="#">Маникюр, педикюр</a></li>
						<li><a href="#">Визажист</a></li>
						<li><a href="#">Брови</a></li>
						<li><a href="#">Ресницы</a></li>
					</ul>
				</li>
				<li class="ct-menu__item ct-item">
					<a href="#" class="ct-menu__link ">Медицина</a>
					<ul>
						<li><a href="#">Мыло</a></li>
						<li><a href="#">Средства для волос</a></li>
					</ul>
				</li>
				<li class="ct-menu__item ct-item">
					<a href="#" class="ct-menu__link ">Секции</a>
					<ul>
						<li><a href="#">Мыло</a></li>
						<li><a href="#">Средства для волос</a></li>
					</ul>
				</li>
				<li class="ct-menu__item ct-item">
					<a href="#" class="ct-menu__link ">Репетиторы, тренеры</a>
					<ul>
						<li><a href="#">Мыло</a></li>
						<li><a href="#">Средства для волос</a></li>
					</ul>
				</li>
				<li class="ct-menu__item ct-item">
					<a href="#" class="ct-menu__link ">Домашние услуги</a>
					<ul>
						<li><a href="#">Мыло</a></li>
						<li><a href="#">Средства для волос</a></li>
					</ul>
				</li>
				<li class="ct-menu__item">
					<a href="#" class="ct-menu__link ">Домашние животные</a>
				</li>
				<li class="ct-menu__item">
					<a href="#" class="ct-menu__link ">Транспорт</a>
				</li>
				<li class="ct-menu__item">
					<a href="#" class="ct-menu__link ">Артисты</a>
				</li>
				<li class="ct-menu__item ct-item">
					<a href="#" class="ct-menu__link ">Разные услуги</a>
					<ul>
						<li><a href="#">Наружная реклама, полиграфия</a></li>
						<li><a href="#">Жидкость для эл.сигарет, испарители</a></li>
					</ul>
				</li>
				<li class="ct-menu__item">
					<a href="#" class="ct-menu__link ">Мастера по установке оборудования</a>
				</li>
			</ul>
		</div>
		}

		<div class="fix-filter">

		</div>

	</div>
</div>