<div id="popup-add-event" class="popup mfp-hide">
	<div class="popup__head text-center">
		<h2 class="popup__title ">Добавить мерориятие</h2>
		<p class="popup__description">Заполните форму, ваше мероприятие появится на сайте после проверки модератора</p>
	</div>
	<form action="#" class="popup-form">


		<div class="form-field">
			<input type="text" class="form-input  " placeholder="Название мероприятия">
		</div>
		<div class="form-field">
			<div class="form-icon">
				<input type="text" class="form-input  datepicker-input" readonly placeholder="Дата">
				<svg class="icon icon-calendar">
					<use xlink:href="img/sprite.svg#calendar"></use>
				</svg>
			</div>
		</div>
		<div class="form-field">
			<input type="text" class="form-input " placeholder="Время">
		</div>
		<div class="form-field">
			<input type="text" class="form-input  " placeholder="Стоимость для взрослых">
		</div>
		<div class="form-field">
			<input type="text" class="form-input  " placeholder="Стоимость для детей">
		</div>
		<div class="form-field">
			<div class="form-icon">
				<input type="text" class="form-input  " placeholder="Адрес">
				<svg class="icon icon-pin">
					<use xlink:href="img/sprite.svg#pin"></use>
				</svg>
			</div>
		</div>

		<label class="label-lg">Текст</label>
		<div class="form-field">
			<textarea class="form-input " placeholder="Введите текст"></textarea>
		</div>

		<label class="label-lg">Контакты мероприятия</label>
		<div class="form-field">
			<input type="text" class="form-input  " placeholder="Введите контакты">
		</div>
		<div class="form-field">
			<input type="text" class="form-input  " placeholder="Введите контакты">
		</div>
		<div class="form-field">
			<input type="text" class="form-input  " placeholder="Введите контакты">
		</div>


		<label class="label-lg">Контакты мероприятия</label>
		<div class="form-field">
			<div class="upload">
				<label class="upload__input form-input">
					<span class="placeholder">Добавить афишу</span>
					<svg class="icon icon-upload">
						<use xlink:href="img/sprite.svg#upload"></use>
					</svg>
					<input type="file" class="form-input  addImage">
				</label>

				<ul class="upload-images uploadImagesList">
					<div class="upload-images__item template">
						<div class="upload-images__preview">
							<img src="" alt="">
						</div>
						<div class="upload-images__remove">удалить</div>
					</div>
				</ul>
			</div>
		</div>

		<label class="label-lg">Добавьте фотографии</label>
		<div class="form-field">
			<div class="upload">
				<label class="upload__input form-input">
					<span class="placeholder">Добавьте файлы, до 10 штук</span>
					<svg class="icon icon-upload">
						<use xlink:href="img/sprite.svg#upload"></use>
					</svg>
					<input type="file" data-max="10" multiple class="form-input  addImages">
				</label>

				<ul class="upload-images uploadImagesList">

				</ul>
			</div>
		</div>

		<input type="submit" class="btn btn--danger  btn--block" value="ОТПРАВИТЬ">

	</form>
</div>