<div id="popup-add-event" class="popup mfp-hide">
	<div class="popup__head text-center">
		<h2 class="popup__title ">Есть вопросы?</h2>
		<p class="popup__description">Отправьте вопрос, мы с вами свяжемся</p>
	</div>
	<form action="#" class="popup-form">

		<div class="form-field">
			<label for="">Ваше имя</label>
			<input type="text" class="form-input form-input--default " placeholder="Введите название ">
		</div>
		<div class="form-field">
			<label for="">Ваше телефон</label>
			<input type="tel" class="form-input form-input--default " placeholder="Введите название ">
		</div>
		<div class="form-field">
			<label for="">Ваш e-mail</label>
			<input type="email" class="form-input form-input--default " placeholder="Введите название ">
		</div>
		<div class="form-field">
			<label for="">Ваш вопрос</label>
			<textarea class="form-input form-input--default " placeholder="Введите текст "></textarea>
		</div>
		<div class="form-field">
			<label for="">Свяжитесь со мной в мессенджерах </label>
			<div class="checkboxs">
				<label class="checkbox inline">
					<input type="checkbox">
					<span class="checkbox__figure"></span>
					<span class="checkbox__text">WhatsApp</span>
				</label>

				<label class="checkbox inline">
					<input type="checkbox">
					<span class="checkbox__figure"></span>
					<span class="checkbox__text">Viber</span>
				</label>

				<label class="checkbox inline">
					<input type="checkbox">
					<span class="checkbox__figure"></span>
					<span class="checkbox__text">Telegram</span>
				</label>
			</div>
		</div>


		<input type="submit" class="btn btn--danger btn--radius btn--block" value="ОТПРАВИТЬ">


	</form>
</div>