<div id="popup-login" class="popup mfp-hide">
	<div class="popup__head text-center">
		<h2 class="popup__title ">Вход в личный кабинет для арендодателя</h2>

	</div>
	<form action="#" class="popup-form">

		<div class="form-field">
			<label for="">Ваш логин</label>
			<input type="text" class="form-input " placeholder="Введите логин ">
		</div>
		<div class="form-field">
			<label for="">Ваш пароль</label>
			<input type="password" class="form-input " placeholder="Введите пароль ">
		</div>
		<div class="line-links">
			<a href="#" class="line-link line-link--danger"><span>Забыли пароль?</span></a>
			<a href="#" class="line-link line-link--info"><span>Нет доступа?</span></a>
		</div>
		<input type="submit" class="btn btn--danger btn--block" value="ВОЙТИ">


	</form>
</div>