<div id="popup-schedule" class="popup mfp-hide">
	<div class="popup__head text-center">
		<h2 class="popup__title ">Расписание <br>
			Tasos Aspros Pharmacy</h2>
	</div>

	<div class="schedule-list">
		<div class="schedule-list__row d-flex align-items-start mb-1">
			<div class="schedule-list__weeks">
				<svg class="icon icon-calendar">
					<use xlink:href="img/sprite.svg#calendar"></use>
				</svg>
				<span>понедельник</span>
			</div>
			<div class="schedule-list__time">
				<svg class="icon icon-clock">
					<use xlink:href="img/sprite.svg#clock"></use>
				</svg>
				<span>
					8:00 - 15:00<br>
					16:00 - 22:00

				</span>
			</div>
		</div>
		<div class="schedule-list__row d-flex align-items-start mb-1">
			<div class="schedule-list__weeks">
				<svg class="icon icon-calendar">
					<use xlink:href="img/sprite.svg#calendar"></use>
				</svg>
				<span>вторник</span>
			</div>
			<div class="schedule-list__time">
				<svg class="icon icon-clock">
					<use xlink:href="img/sprite.svg#clock"></use>
				</svg>
				<span>
					8:00 - 15:00<br>
					16:00 - 22:00
				</span>
			</div>
		</div>
		<div class="schedule-list__row schedule-list__row--holiday d-flex align-items-start mb-1">
			<div class="schedule-list__weeks">
				<svg class="icon icon-calendar">
					<use xlink:href="img/sprite.svg#calendar"></use>
				</svg>
				<span>среда</span>
			</div>
			<div class="schedule-list__time">
				<svg class="icon icon-clock">
					<use xlink:href="img/sprite.svg#clock"></use>
				</svg>
				<span>
					выходной
				</span>
			</div>
		</div>
		<div class="schedule-list__row d-flex align-items-start mb-1">
			<div class="schedule-list__weeks">
				<svg class="icon icon-calendar">
					<use xlink:href="img/sprite.svg#calendar"></use>
				</svg>
				<span>четверг</span>
			</div>
			<div class="schedule-list__time">
				<svg class="icon icon-clock">
					<use xlink:href="img/sprite.svg#clock"></use>
				</svg>
				<span>
					8:00 - 15:00<br>
					16:00 - 22:00
				</span>
			</div>
		</div>
		<div class="schedule-list__row d-flex align-items-start mb-1">
			<div class="schedule-list__weeks">
				<svg class="icon icon-calendar">
					<use xlink:href="img/sprite.svg#calendar"></use>
				</svg>
				<span>пятница</span>
			</div>
			<div class="schedule-list__time">
				<svg class="icon icon-clock">
					<use xlink:href="img/sprite.svg#clock"></use>
				</svg>
				<span>
					8:00 - 15:00<br>
					16:00 - 22:00
				</span>
			</div>
		</div>
		<div class="schedule-list__row d-flex align-items-start mb-1">
			<div class="schedule-list__weeks">
				<svg class="icon icon-calendar">
					<use xlink:href="img/sprite.svg#calendar"></use>
				</svg>
				<span>суббота</span>
			</div>
			<div class="schedule-list__time">
				<svg class="icon icon-clock">
					<use xlink:href="img/sprite.svg#clock"></use>
				</svg>
				<span>
					8:00 - 15:00<br>
					16:00 - 22:00
				</span>
			</div>
		</div>
		<div class="schedule-list__row schedule-list__row--holiday d-flex align-items-start ">
			<div class="schedule-list__weeks">
				<svg class="icon icon-calendar">
					<use xlink:href="img/sprite.svg#calendar"></use>
				</svg>
				<span>воскресенье</span>
			</div>
			<div class="schedule-list__time">
				<svg class="icon icon-clock">
					<use xlink:href="img/sprite.svg#clock"></use>
				</svg>
				<span>
					выходной
				</span>
			</div>
		</div>

	</div>

</div>