<div id="popup-search-accommodation" class="popup mfp-hide">
	<div class="popup__head text-center">
		<h2 class="popup__title ">Поиск жилья</h2>
		<p class="popup__description">Заполните заявку и вы получите предложения от хозяев и риэлторов Пафоса
		</p>
	</div>
	<form action="#" class="popup-form">

		<div class="form-field">
			<div class="selectbox">
				<div class="selectbox__head">
					<div class="selectbox__text placeholder">Выберите тип аренды</div>
					<div class="selectbox__caret"></div>
				</div>
				<div class="selectbox__drop scrollbar">
					<ul>
						<li>Краткосрочная</li>
						<li>Долгосрочная</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="form-field">
			<div class="selectbox">
				<div class="selectbox__head">
					<div class="selectbox__text placeholder">Выберите тип жилья</div>
					<div class="selectbox__caret"></div>
				</div>
				<div class="selectbox__drop scrollbar">
					<ul>
						<li>Квартира</li>
						<li>Дом</li>
						<li>Комната</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="form-field">
			<input type="text" class="form-input datepicker-input" readonly placeholder="Выберите даты аренды">
		</div>

		<div class="form-field">
			<label class="checkbox ">
				<input type="checkbox">
				<span class="checkbox__figure"></span>
				<span class="checkbox__text">Плавающие даты</span>
			</label>
		</div>
		<div class="form-field">
			<div class="selectbox">
				<div class="selectbox__head">
					<div class="selectbox__text placeholder">Удаленность от моря</div>
					<div class="selectbox__caret"></div>
				</div>
				<div class="selectbox__drop scrollbar">
					<ul>
						<li>неважно</li>
						<li>пешком</li>
						<li>на машине до 5 мин</li>
						<li>на машине до 15 минут</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="form-field">
			<div class="selectbox">
				<div class="selectbox__head">
					<div class="selectbox__text placeholder">Количество человек</div>
					<div class="selectbox__caret"></div>
				</div>
				<div class="selectbox__drop scrollbar">
					<ul>
						<li>1</li>
						<li>2</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="form-field">
			<div class="selectbox">
				<div class="selectbox__head">
					<div class="selectbox__text placeholder">Бюджет</div>
					<div class="selectbox__caret"></div>
				</div>
				<div class="selectbox__drop scrollbar">
					<ul>
						<li>100$</li>
						<li>1000$</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="form-field">
			<label for="">Пожелания</label>
			<textarea class="form-input " placeholder="Введите текст "></textarea>
		</div>

		<div class="form-field">
			<label class="checkbox">
				<input type="checkbox" />
				<span class="checkbox__figure"></span>
				<span class="checkbox__text">Я согласен на обработку персональных данных</span>
			</label>
		</div>
		<div class="form-field">
			<label for="">Ваше имя</label>
			<input type="text" class="form-input " placeholder="Введите имя ">
		</div>
		<div class="form-field">
			<label for="">Ваш e-mail</label>
			<input type="text" class="form-input " placeholder="Введите email">
		</div>
		<div class="form-field">
			<label class="checkbox">
				<input type="checkbox" />
				<span class="checkbox__figure"></span>
				<span class="checkbox__text">Нужен автомобиль в аренду</span>
			</label>
		</div>
		<div class="form-field">
			<label class="checkbox">
				<input type="checkbox" />
				<span class="checkbox__figure"></span>
				<span class="checkbox__text">Я согласен на обработку персональных данных</span>
			</label>
		</div>
		<div class="alert alert--sm alert--margin">
			<em>Наш сайт оказывает информационную функцию и не несет ответственности за качество предоставляемых услуг по аренде жилья</em>
		</div>
		<input type="submit" class="btn btn--danger btn--block" value="ОТПРАВИТЬ">


	</form>
</div>