<div id="popup-suggest-accommodation" class="popup mfp-hide">
	<div class="popup__head text-center">
		<h2 class="popup__title ">Предложить жилье</h2>
		<p class="popup__description">Оставьте ваши данные и с вами свяжется менеджер для получения бесплатного доступа к контактам туристов
		</p>
	</div>
	<form action="#" class="popup-form">

		<div class="form-field">
			<label for="">Ваше имя</label>
			<input type="text" class="form-input form-input--default " placeholder="Введите имя  ">
		</div>
		<div class="form-field">
			<label for="">Ваше телефон</label>
			<input type="tel" class="form-input form-input--default tel" placeholder="Введите телефон  ">
		</div>
		<div class="form-field">
			<label for="">Ваш e-mail</label>
			<input type="email" class="form-input form-input--default " placeholder="Введите e-mail  ">
		</div>

		<div class="form-field">

			<div class="checkboxs">
				<label class="checkbox inline">
					<input type="checkbox">
					<span class="checkbox__figure"></span>
					<span class="checkbox__text">Я риелтор</span>
				</label>

				<label class="checkbox inline">
					<input type="checkbox">
					<span class="checkbox__figure"></span>
					<span class="checkbox__text">Я хозяин</span>
				</label>


			</div>
		</div>
		<div class="form-field">
			<label for="">Свяжитесь со мной в мессенджерах </label>
			<div class="checkboxs">
				<label class="checkbox inline">
					<input type="checkbox">
					<span class="checkbox__figure"></span>
					<span class="checkbox__text">WhatsApp</span>
				</label>

				<label class="checkbox inline">
					<input type="checkbox">
					<span class="checkbox__figure"></span>
					<span class="checkbox__text">Viber</span>
				</label>

				<label class="checkbox inline">
					<input type="checkbox">
					<span class="checkbox__figure"></span>
					<span class="checkbox__text">Telegram</span>
				</label>
			</div>
		</div>

		<div class="form-field">
			<label class="checkbox">
				<input type="checkbox" />
				<span class="checkbox__figure"></span>
				<span class="checkbox__text">Я согласен на обработку персональных данных</span>
			</label>
		</div>
		<input type="submit" class="btn btn--danger btn--radius btn--block" value="ОТПРАВИТЬ">


	</form>
</div>